{% block company_country_component %}
    {% if data.country|default %}
        <li class="company__street">
            <span itemprop="">{{ attribute(group, 'country') }}</span>
        </li>
    {% endif %}
{% endblock %}